alabaster==0.7.12
apparmor==2.13.4
appdirs==1.4.3
application-utility==1.3.2
asgiref==3.2.7
atom==0.4.3
attrs==19.3.0
Automat==20.2.0
Babel==2.8.0
backcall==0.1.0
bauh==0.9.3
btrfsutil==1.2.0
CacheControl==0.12.6
catfish==1.4.13
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
chardet==3.0.4
click==7.1.1
colorama==0.4.3
constantly==15.1.0
contextlib2==0.6.0.post1
cupshelpers==1.0
cycler==0.10.0
decorator==4.4.2
distlib==0.3.0
distro==1.5.0
Django==3.0.7
docopt==0.6.2
docutils==0.16
enaml==0.10.2
enamlx==0.3.0
future==0.18.2
gufw==20.4.0
html5lib==1.0.1
hyperlink==19.0.0
idna==2.9
imagesize==1.2.0
importlib-metadata==1.5.2
incremental==17.5.0
inkcut==2.1.0
ipykernel==5.1.4
ipython==7.14.0
ipython-genutils==0.1.0
jedi==0.16.0
Jinja2==2.11.2
jsonpickle==1.3
jupyter-client==6.0.0
jupyter-core==4.6.3
keyutils==0.6
kiwisolver==1.1.0
lensfun==0.3.95
LibAppArmor==2.13.4
lightdm-gtk-greeter-settings==1.2.2
lockfile==0.12.2
louis==3.13.0
lxml==4.6.2
MarkupSafe==1.1.1
matplotlib==3.2.1
menulibre==2.2.1
more-itertools==8.2.0
msgpack==1.0.0
mugshot==0.4.2
mysqlclient==1.4.6
npyscreen==4.10.5
numpy==1.18.4
ordered-set==3.1.1
packaging==20.3
pacman-mirrors==4.16.4
parso==0.7.0
pep517==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==6.2.1
ply==3.11
progress==1.5
prompt-toolkit==3.0.5
psutil==5.7.0
ptyprocess==0.6.0
pyaml==20.4.0
pycairo==1.19.1
pycups==2.0.1
pycurl==7.43.0.5
Pygments==2.6.1
PyGObject==3.36.1
PyHamcrest==1.9.0
pyparsing==2.4.7
PyQt5==5.14.2
PyQt5-sip==12.7.2
pyqtgraph==0.10.0
pyserial==3.4
python-dateutil==2.8.1
python-distutils-extra==2.39
pytoml==0.1.21
pytz==2020.1
pyxdg==0.26
PyYAML==5.3.1
pyzmq==19.0.0
qt-reactor==0.6
qt5reactor==0.5
qtconsole==4.7.3
QtPy==1.9.0
rados==2.0.0
rbd==2.0.0
reportlab==3.5.42
requests==2.23.0
retrying==1.3.3
rgw==2.0.0
sip==4.19.22
six==1.14.0
snowballstemmer==2.0.0
Sphinx==3.1.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sqlparse==0.3.1
team==1.0
toml==0.10.0
tornado==6.0.4
traitlets==4.3.3
Twisted==20.3.0
udiskie==2.2.0
ufw==0.36
urllib3==1.25.9
vboxapi==1.0
wcwidth==0.1.9
webencodings==0.5.1
zipp==3.1.0
zope.interface==5.1.0
